.todoActions {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

.todoActions_done {
  transition: all 0.3s ease;
  padding: 15px 15px;
  color: #eeeeee;
  background-color: #e94560;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoActions_delete {
  transition: all 0.3s ease;
  padding: 15px 15px;
  color: #e94560;
  background-color: transparent;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoActions_done_disabled {
  transition: all 0.3s ease;
  padding: 15px 15px;
  color: #eeeeee;
  background-color: #3f434b;
  pointer-events: none;
  cursor: none;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoActions_delete_disabled {
  transition: all 0.3s ease;
  padding: 15px 15px;
  color: #3f434b;
  background-color: transparent;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  cursor: none;
  pointer-events: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .todoActions {
    width: 90%;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .todoActions_done,
  .todoActions_delete,
  .todoActions_done_disabled,
  .todoActions_delete_disabled {
    padding: 10px 10px;
    font-size: medium;
  }
}
