.todoActions {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.todoActions_done {
  padding: 15px 15px;
  color: #eeeeee;
  background-color: #e94560;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoActions_delete {
  padding: 15px 15px;
  color: #e94560;
  background-color: transparent;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
